/* Color palette 
  Soft gray: #f7f3e9
  Light Sea Blue: #a3d2ca
  Sea Blue: #5eaaa8
  Burnt Orange: #f05945

  You do not need to upload the scss or css.map files to the website.
  They are just used to create the final css product. 
*/

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$a1: "Black Ops One"; /* manly primary styled */
$a2: "Rationale"; /* nice primary styled */
$a3: "Titillium Web"; /* very nice both smooth */
$a4: "Exo 2"; /* meh for primary & Secondary */
$a5: "Merriweather Sans"; /* okay both smooth */
$a6: "Chakra Petch"; /* nice ridged boxy, nice primary, very nice and clean secondary */
$a7: "VT323"; /* Pixel, meh */
$a8: "Aldrich"; /* nice for primary, smooth boxy */

$alt1: "Open Sans";
$alt2: "Roboto Mono"; /* nice secondary boxy */

$primaryFontFamily: $a8;
$secondaryFontFamily: $a6;

$primaryColor-dark: #020c1b;
$primaryColor: #091d3a;
$primaryColor-light: #12274b;
$primaryColor-lightest: #416094;

$secondaryColor-dark: #3b4966;
$secondaryColor: #7987b1;
$secondaryColor-light: #a2afd8;
$secondaryColor-lightest: #bac8f7;


$accentColor: #fca311;
$accentColor-dim: #915d0a;
$borderColor: #e5e5e5;

$lightText: #d1dceb;
$darkText: #003e77;
$skills: #162a50;

%boxContainer {
  background-color: $primaryColor-light;
  border: 1px solid $primaryColor;
  border-radius: 25px;
  color: $lightText;
  display: inline-block;
  font-family: $secondaryFontFamily;
  padding: 15px;
  margin: 5px;
  box-shadow: 4px 4px 8px $primaryColor-dark;
}

body, a {
  background-color: $primaryColor;
  color: $lightText;
  /* font-family: $secondaryFontFamily; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;  
  padding: 0px;
  position: relative;
  margin: 0 auto;
  width: 70%;
}

section {
  margin: 0 auto;
}

header>section {
  margin: 0;
  width: 68%;
}

// Name
#heading h1 {
  margin: 0px 0px 30px 4px;
  font-weight: 600;
  font-family: $primaryFontFamily;
  font-size: clamp(2.5rem, 8vw, 5rem);
  text-shadow: 4px 4px 8px $primaryColor-dark;
}

// Phrase
#heading h2 {
  margin: 0px 0px 30px 4px;
  font-weight: 400;
  font-family: $secondaryFontFamily;
  font-size: clamp(2rem, 7vw, 3rem);
}

// Greeting
#heading h3 {
  margin: 0px 0px 30px 4px;
  font-weight: 400;
  font-family: $secondaryFontFamily;
  font-size: clamp(1rem, 5vw, 2rem);
}


main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;  
  padding: 0px;
  position: relative;
  margin: 0 auto;
  width: 75%;
}

main > h2 {
  margin-top: 50px;
  text-shadow: 2px 2px 4px $primaryColor-dark;
  width: 100%;
}

main > h2 > hr {
  margin: 0;
  padding: 0;
  display: flex;
}

.showme{
  opacity: 0;
}

#education section, #skills section, .gitHubCard {
  @extend %boxContainer;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#skills {
  margin-bottom: 5em;
  text-align: center;
}

#skills section {
  background-color: $skills;
}

#workExperience {
  display: flex;
  flex-direction: row;
}

ul {
  margin: 0 10px 0 0;
  padding: 0 10px 10px 10px;
}

#workExperience > ul li {
  list-style-type: none;
  border-left: 2px solid $accentColor-dim;
  font-size: 1em;
  padding: 10px;
}

#workExperience > ul li:hover {
  background-color: $primaryColor-lightest;
  border-left: 2px solid $accentColor;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px 1px #020c1b
}

#j1 {
  background-color: $primaryColor-light;
  border-left: 5px solid $accentColor;
}

#workExperienceContentContainer {
  position: relative;
  background-color: $secondaryColor-lightest;
  border: 1px solid $primaryColor-dark;
  border-radius: 5px 30px 30px 5px;
  width: 670px;
  height: 450px;
  margin-bottom: 5em;
  overflow: auto;
}

#workExperienceContentContainer::-webkit-scrollbar {
  background-color: $secondaryColor;
  width: 10px;
}

/* Track */
#workExperienceContentContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px $secondaryColor; 
}

/* Handle */
#workExperienceContentContainer::-webkit-scrollbar-thumb {
  border: 1px solid $primaryColor;
  background-color: $primaryColor-lightest;
}

/* Handle on hover */
#workExperienceContentContainer::-webkit-scrollbar-thumb:hover {
    background-color: $secondaryColor-dark;
}


#j2_details, #j3_details, #j4_details, #j5_details {
  display: none;
}

.workExperienceContent {
  position: absolute; 
  left: 0;
  top: 0;
  padding: 0 20px 0 20px; 
  color:$darkText;
}


#education > section {
  background-color: $secondaryColor-lightest;
  border-radius: 20px; 
  color: $darkText;
  padding: 25px;
}

#education p {
  margin: 5px;
}

#cvtcLogo { 
  width: 200px; 
}

#profileImg {
  position: absolute;
  right: 10%;
  clip-path: circle(120px);
  height: 240px;
  width: 240px;
  text-indent:-9999px
}

.profileImage {
  opacity: 1;
  content: url('../images/profile_sm.png');
  z-index: 1;
}

/*
.glitchEffect {
  content: '';
  text-align:center;
  justify-content:center;
  position: absolute;
  width:100%;
  height:100%;
  background: url('../images/profile_image_sm.jpg');
  background-size: cover;
}
.glitchEffect:before{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url('../images/profile_image_sm.jpg');
  background-size: cover;
  mix-blend-mode:hard-light;
 
}
.glitchEffect:before{
  animation:animate .4s;
}
@keyframes animate{
  0%{
    background-position: 0 0;
    filter:hue-rotate(0deg);
  }
  10%{
    background-position: 4px 0px;
  }
  15%{
    background-position: -8px 0px;
  }
  
  20%{
    background-position: -4px 0;
  }
  30%{
    background-position: 12px 0;
  }
  40%{
    background-position: -12px 0;
  }
  50%{
    background-position: -20px 0;
  }
  60%{
    background-position: 16px 0;
  }
  70%{
    background-position: 0 22px;
  }
  80%{
    background-position: -20px 10px;
  }
  100%{
    background-position: 0 0;
    filter:hue-rotate(360deg);
  }
}
*/
.icons {
  font-size: 4em;
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}

.icons-textOnly {
  color: #3d8fc6;
  display: inline-block;
  font-family: "devicon" !important;
  font-size: .31em;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  list-style-type: none;
  text-align: center;
}

.card {
  font-family: sans-serif;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
  color: #333;
}
  
  a {
    color: #cf3f02;
    text-decoration: none;
  }


footer {
  margin: 30px 0px;
  padding: 20px;
  text-align: center;
}

/* Project Snapshots Carousel */
.carousel-container {
  margin: auto;
  text-align: center;
  width: 80%;
}


#carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.carousel-images-bg {
  width: 400px;
  height: 400px;
  object-fit: contain;
  opacity: 0.6;
  z-index: -10;
}

.carousel-arrows {
  /* also check #carousel-right-arrow and #carousel-left-arrow for specifics */
  cursor: pointer;
  opacity: 0.8;
  font-family: Arial, san-serif;
  font-size: 128px;
  font-weight: bold;
  position: absolute;
  top: 0;
  height: 100%;
  width: 400px;
}

#carousel-left {
  position: relative;
}

#carousel-left-arrow {
  left: 100px;
}

.carousel-img-left {
  position: relative;
  left: 100px;
}

.carousel-img-center {
  position: relative; 
  max-height: 500px;
  width: 500px;
  object-fit: contain;
  z-index: 1;
  box-shadow: 5px 5px 8px #000;
}

#carousel-center-description {
  background-color: white;
  border-radius: 0px 0px 25px 25px;
  color: #000;
  margin: auto;
  opacity: 1;
  padding: 10px;
  width: 400px;

}

#carousel-right {
  position: relative;
}

#carousel-right-arrow {
  right: 100px;
}

.carousel-img-right {
  position: relative;
  right: 100px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Github projects section */



#github-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

/* Github cards */
/* github colors */
.smallerIcon { font-size: 0.75em !important; }
.mediumIcon { font-size: 0.9em !important; }

.githubColor { color: #000; }
.githubColor-HTML { color: #E34C26; }
.githubColor-Java { color: #B07219; }
.githubColor-JavaScript { color: #F1E05A; }
.githubColor-CSS { color: #563D7C; }
.githubColor-VisualBasicNET { color: #945DB7; }
.githubColor-ASPNET { color: #9400FF; }
.githubColor-CSharp { color: #178600; }
.githubColor-TypeScript { color: #2B7489; }

.githubColor-SCSS { color: #C6538C; }
.githubColor-Star { color: #FFD700; }


.github-cards {
  flex: 1;
  flex-basis: 33%;
}

.github-card {
  position: relative;
  display: block;
  background-color: $secondaryColor-lightest;
  box-sizing: border-box;
  border: 1px solid $primaryColor-dark;
  border-radius: 5px 30px;
  box-shadow: 4px 4px 8px #000;
  margin: 10px;
  padding: 30px;
  color: $darkText;
  text-decoration: none;
  font-size: 13px;
  min-height: 200px;

  > h3 {
    margin-top: 0;
    font-size: 15px;
  }
}

.github-card:hover{
  box-shadow: 4px 4px 8px $accentColor;
}

.github-card__meta {
  margin-right: 5px;
  > i {
    font-size: 16px;
  }
}

.github-card-bottom-info {
  position: absolute;
  bottom: 10px;
}

.github-repo-image {
  width: 50vw;
}

.github-languages { 
  padding-right: 5px;
  padding-left: 0px;
}

.github-repo-description {
  font-size: 1.2em;
}

.gitImageContainer {
  display: none;
  text-align: center;
}

.gitHubImageAvail {
  float: right;
  position: relative;
  top: 0px;
}

.gitHubImageAvail a {
  background-color: inherit;
  color: inherit;
  font-size: 12px;
  text-transform: uppercase;
}

.gitHubImageAvail a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.github-repo a {
  background-color: inherit;
  color: inherit;
  font-size: 12px;
  font-weight: bold;
}

.github-repo a:hover {
  text-decoration: underline;
}


/* ---- DESKTOP ADJUST FOOTER ---- */
@media only screen and (max-width: 1850px) {
  #profileImg{
    right: 0%;
  }
}

/* ---- TABLETS ---- */
@media only screen and (max-width: 1600px) {
  .carousel-container { 
    margin: 0;
  }

  #carousel-left, .carousel-img-left {
    left: 100px;
  }

  #carousel-left-arrow {
    left: 50px;
  }

  #carousel-right, .carousel-img-right {
    right: 100px;
  }

  #carousel-right-arrow {
    right: 50px;
  }  
}

/* ---- TABLETS ---- */
@media only screen and (max-width: 1150px) {
  header {
    width: 90%;
  }

  header>section {
    width: 50%;
  }

  #subheading {
    white-space: nowrap;
  }

  main {
    width: 90%;
  }

  #introduction {
    width: 80%;
  }

  .carousel-container { 
    margin: 0 auto;
    margin-bottom: 70px;    
  }

  #carousel-images {
    height: auto;
  }  

  .carousel-images-bg {
    display: none;
  }

  .carousel-arrows {
    top: 180px;
    height: auto;
    width: auto;
    font-size: 96px;

  }

  #carousel-left-arrow {
    left: 0px;

  }

  #carousel-right-arrow {
    right: 0px;
  }
  
  .carousel-img-center {
    width: 100%;
  }

  #carousel-center-description {
    width: 95%;
  }  

}



/* ---- MOBILE PHONES ---- */
@media only screen and (max-width: 930px) {

  header {
    justify-content: flex-start;
  }

  #heading {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  #heading h3, #heading h2 {
    margin: 10px;
  }

  #subheading {
    white-space: break-spaces;
  }

  // variable for rounded clipped image
  $rci: round 10px;

  #profileImg{
    clip-path: inset(0% 0% 5% $rci);
    -webkit-clip-path: inset(0% 0% 5% $rci);
    position: static;
    right: unset;
    height: auto;
    width: 50%;
    max-width: 80%;
    margin-bottom: 20px;
  }

  #introduction {
    width: 100%;
  }

  #workExperience {
    flex-direction: column;
    width: 100%;
  }

  #workExperienceContentContainer {
    width: 100%;
  }

  .showme {
    opacity: 1;
  }

  .github-cards { 
    flex-basis: 100%;
  }
  .github-repo-image {
    width: 100%;
  }

  .carousel-arrows {
    top: 150px;
  }  
}

/* ---- MOBILE PHONES ---- */
@media only screen and (max-width: 740px) {
  .carousel-arrows {
    top: 160px;
    font-size: 56px;
  }  

  #carousel-left-arrow {
    left: -50px;

  }

  #carousel-right-arrow {
    right: -50px;
  }  
}

/* ---- MOBILE PHONES ---- */
@media only screen and (max-width: 525px) {
  .carousel-arrows {
    top: 120px;
    font-size: 56px;
  }  

  #carousel-left-arrow {
    left: -50px;

  }

  #carousel-right-arrow {
    right: -50px;
  }  
}


